<!doctype html>
<html>
    <head>
        <title> Spirit Shop</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
		 <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
		 <link rel="stylesheet" type="text/css" href="/css/site.css" />
    </head>
    <body>
      
      
<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="ttl">Spirit<br> &nbsp;  Shop</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
		<ul class="pull-left">
     <li><form id="b1"action="/">
    <input id="input" type="submit" value="Home" />
</form></li>

<li><form id="b2"action="/about">
    <input id="input" type="submit" value="About" />
</form></li>
	
</ul>

<ul class="pull-right">
	<li><form id="b3"action="/employees">
    <input id="input2" type="submit" value="All Products" />
</form></li>
<li><form id="b4"action="/managers">
    <input id="input2" type="submit" value="Deals" />
</form></li>
<li><form id="b5"action="/departments">
    <input id="input2" type="submit" value="Store List" />
</form></li>
     </ul>


		</div>
	</nav>
   <div class="container">
	  {{{body}}} 
	</div>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>© 2017 - JATIN ARORA (136897162) </h2>
				</div>
			</div>
		</div>
   </footer>

    
    </body>
</html>

