<!doctype html>
<html>
    <head>
        <title> Spirit Shop</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
		 <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		 <link rel="stylesheet" type="text/css" href="/css/site_2.css" />
         <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
	</head>
    <body>
		<div id="display">
		<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12" id="head_media">
					<h1 class="ttl">| Spirit Shop</h1>
				<img src="https://cdn.designbump.com/wp-content/uploads/2013/02/wine-logos-logo-design-inspiration-018.png" alt="logo" height="95px" width="100px">
			
			</div>
			 <nav>
		<div class="container">
		<ul class="pull-left">
     <li><form id="b1"action="/">
    <input id="input" type="submit" value="Home" />
</form></li>

<li><form id="b2"action="/about">
    <input id="input" type="submit" value="About" />
</form></li>
	
</ul>

<ul class="pull-right">
	<li><form id="b3"action="/products">
    <input id="input2" type="submit" value="All Products" />
</form></li>
<li><form id="b4"action="/managers">
    <input id="input2" type="submit" value="Deals" />
</form></li>
<li><form id="b5"action="/departments">
    <input id="input2" type="submit" value="Store List" />
</form></li>
     </ul>


		</div>
	</nav>
		</div>
		
      </header>
	  
      
       

     
   <div class="container">
	  {{{body}}} 
	</div>
   

      </div>
	   <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>© 2017 - JATIN ARORA (136897162) </h2><hr id="hrdiff">
					<h5>This project is prohbited from being reproduced,copied or reused in any form under Seneca Academc Honesty policy and can result in serious legal outcomes.
						LCBO and LCBO products are registered trademarks of Liquor Control Borad Of Ontario.Any use of this is striclty prohibited </h5><br>
						Sources and Contact:<br>
						<a href="https://github.com/jayArora08/Project-Online-Shop">Project Webiste</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/jayArora08">Devoloper Github</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/jatin-arora-426963149/">Linkedln</a>
			
				</div>
			</div>
		</div>
   </footer>
    </body>
</html>

