  
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>JATIN ARORA - the Developer</h2>
					<p>Hey there people, I am an international student in who is taking his computer studies from Seneca in Toronto, Canada. I am currently in 3rd
                        Semester of my diploma course. I found web related programming interesting but I am more comfortable and confident when I do C++ or JAVA related
                        programming. So i favor more c++/java jobs when it comes to carrer development.
                    </p>
					</article>
				</section>
		</div>