<div class="row">
    <div class="col-md-12">
        <h1>{{title}}<a href="/employees/add" class="btn btn-success pull-right" style="margin-top:5px;">Add New Employee</a></h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#each data}}
            {{firstName}} {{last_name}}<br />
        {{/each}}
    </div>
</div>
