
	   <div class="row">
			<aside class="col-md-3">
				<h3>Coming Soon</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non.</p>
			</aside>
			<section class="main col-md-9" id="content">
				<article>
				<h2 id="hometext">Welcome</h2>
				<p id="hometext">This is a Online Shop Website developed by Jatin Arora.<br>BETA project which uses JavaScript, Node.js, Express.js and many modules and will include major other languages to develop this project as a flexible template for various APIs.  BEING TESTED ON LCBO API FOR NOW</p>
				<br><br>
				
				</article>
			</section>
		
		</div>
	