body{
		   margin: 0;
		   width:100%;
		   height:100%;
		   font-family: 'Raleway', sans-serif;
		   font-size: 20px;
		   color: white;
		   background: #070000;  /* fallback for old browsers */
		   background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);
		   background: linear-gradient(to right, #070000, #4C0001, #070000); 
		   
	    }
		
		header{
			background-image: url(https://images.pexels.com/photos/96381/pexels-photo-96381.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
			padding:5px 25px;
			font-size: 40px;
				-webkit-text-stroke-width: 4px;
			  -webkit-text-stroke-color:red;
			  
		}
		
		nav{
			padding:8px;
			background-color:#6E024E;
		}
		
		nav ul{
			list-style-type: none;
			padding-left:0px;
			margin:0px;
		}
		
		nav ul li{
			display:inline-block;
			background-color: #6E024E;
		}
		
		nav ul li a{
			background-color:#6E024E;
			color: #eee;
			text-decoration: none;
			padding:0 5px;	
			font-weight:bold;
			text-transform: uppercase;
			font-size:13px;
		}
		
		footer{
			background-color: #444;
			color: #eee;
			padding:10px;
		}
		
		footer h2{
			margin:0px;
			text-transform: uppercase;
			font-size:13px;
			padding:0 5px;	
		}
